<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="article">
    <h3> <%=recipe.name %></h3><br>
    <h3> <%=recipe.ingredients %></h3><br>
    <h3> <%=recipe.cook_time %></h3><br>
    <a href="/recipes/<%= recipe.id %>"><p><%= recipe.name %></p></a>
  </div><br>
<% end %>
